#mainWindow {
    background-size: cover;
    background-image: url("/images/main_background.jpeg");
    min-height: 700px;
    color: white;
}

#offset {
    height: 70px;
}

.main-header {
    text-align: center;
}

.right-panel {
    border-radius: 25px;
    background-color:#25A3FF;
    max-width: 442px;
    height: 435px;
}

.download {
    background-image: url("/images/submit button.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
    width: 254px;
    height: 64px;
    background-color: transparent;
    border: none;
}

.y-offset {
    height: 10px;
}
.y-offset-2 {
    height: 58px;
}

.submit-left {
    height: 65px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: #fff;
    display: inline-block;
    float: left;
}

.submit-right {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    height: 65px;
    display: inline-block;
    background: #1AB000;
}

.btn-submit {
    background-color:transparent;
    padding:0;
    border:0;
}

