#mainWindow {
    background-size: cover;
    background-image: url("/images/main_background.jpeg");
    min-height: 700px;
    color: white;
}

#offset {
    height: 70px;
}

.main-header {
    text-align: center;
}

.right-panel {
    border-radius: 25px;
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(27,144,226) 0%, rgb(157,217,251) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(27,144,226) 0%, rgb(157,217,251) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(27,144,226) 0%, rgb(157,217,251) 100%);
    max-width: 442px;
    height: 480px;
}

.download {
    background-image: url("/images/submit button.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
    width: 254px;
    height: 64px;
    background-color: transparent;
    border: none;
}

.y-offset {
    height: 10px;
}
.y-offset-2 {
    height: 15px;
}

.submit-left {
    height: 65px;
    background: #FF4F4F;
    display: inline-block;
    float: left;
}

.submit-right {
    height: 65px;
    display: inline-block;
    background: #00A0FB;
}

.btn-submit {
    background-color:transparent;
    padding:0;
    border:0;
}