<div class="container-fluid">
    <div class="row" id="mainWindow">
        <div class="container" id="subWindow">
            <div class="row" id="offset"> </div>
            <div class="col-xs-12 col-md-6" id="leftPanel">
                <div class="row">
                    <span class="tk-futura-pt h main-header 
                          col-xs-12
                          col-md-12
                          ">Service Description</span>
                </div>
                <ng-include src="'/controls/spacer.html'"></ng-include>
                <div class="row" style="position:relative">
                    <span class="tk-futura-pt h2 
                          col-xs-6
                          col-sm-3 col-sm-offset-2
                          col-md-4 col-md-offset-0
                          ">40%</span>
                    <span class="tk-futura-pt h3 
                          col-xs-5
                          col-md-7
                          " style="position:absolute;bottom:10px">random statistics</span>
                </div>
                <ng-include src="'/controls/spacer.html'"></ng-include>
                <div ng-repeat="listItem in product.listItems">
                    <div ng-include src="'controls/checkbox_li.html'"></div>
                </div>
                <div class="y-offset-2"/>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1" id="rightPanel">
                <img src="images/arrow.png" style="position:absolute;left:-18px" />
                <div class="row">
                    <span class="tk-futura-pt p-2-bold p-shadow
                          col-xs-10 col-xs-offset-2
                          col-sm-5 col-sm-offset-3
                          " style="
                        display: inline-block;">Subscribe to yet another FREE mailing list!</span>
                </div>
                <form method="post" id="subscribeForm">
                    <div class="right-panel container">
                        <div class="row" style="height:65px" />
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" name="firstname" id="tbFirstName" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" name="lastname" id="tbLastName" placeholder="Last Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <input type="email" class="form-control" name="email" id="tbEmail" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <input type="tel" class="form-control" name="phone" placeholder="Phone number" id="tbPhone" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <ng-include src="'controls/select_country.html'" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class=" input-group-addon">
                                        Enter Free Prize Drawing
                                    </span>
                                    <input style="margin-left:10px" type="checkbox" class="form-control  " name="enterdraw" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="submit-left col-xs-4 col-sm-2 col-sm-offset-1 col-lg-offset-2">
                                <div class="y-offset" />
                                <span class="glyphicon glyphicon-download-alt" style="font-size:43px;color:white;display:table;"></span>
                            </div>
                            <div class="submit-right col-xs-8 col-sm-6">
                                <div class="y-offset-2" />
                                <input type="submit" value="Download" class="btn btn-submit tk-futura-pt p-submit" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
